/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* track */
::-webkit-scrollbar-track {
  background: #050816;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#00e5ff, #a855f7);
  border-radius: 10px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: #00e5ff;
}